*.dll
*.exe
*.o
*.so
*.pyc
*.egg-info
*.db
dist
build
.DS_Store
.cache
.venv
.vscode
.pytest_cache
Pipfile.lock
.mypy_cache
_depends.pickle
.eggs
pip-wheel-metadata
.eggs
outputs
_depends.pickle
.ipynb_checkpoints
